<div class="app-selector-container" [@showHiddenMew]="isShowedMew ? 'showed': 'hidden'"
  (@showHiddenMew.start)="animationStart()" (@showHiddenMew.done)="animationDone()">
  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=1">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>

  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=2">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>
  
  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=3">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>
  
  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=4">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>
  
  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=5">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>
  
  <figure class="app-logo-container">
    <img src="https://picsum.photos/200/200?random=6">
    <figcaption>This is a random lorem ipsum image</figcaption>
  </figure>
</div>